# Ignore cached files
**/__pycache__/**

# Ignore agent files
**/agents_plans/** 
**/prompts_logs/**
**/agents/**
**/*.agentsignore

# Ignore virtual environments
**/*_venv/**
**/*.venv*/**

# Ignore environment variables
*.bak
logs
.env
.env.*
!.env.example

# Ignore markdown files
*.md
!README.md
!AGENTS.md
!USAGE.md