services:
  react-frontend:
    build:
      context: ./projects/frontend/web/react
      dockerfile: Dockerfile
    container_name: react-frontend
    ports:
      - "3000:80"
    depends_on:
      api:
        condition: service_healthy
    restart: always

  api:
    build:
      context: ./projects/api
      dockerfile: Dockerfile
    container_name: tourism-api
    ports:
      - "3001:3001"
    environment:
      PORT: 3001
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: airflow
      DB_PASSWORD: airflow
      DB_NAME: airflow
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:3001/health"]
      interval: 30s
      timeout: 3s
      retries: 3
      start_period: 10s
    restart: always
