streamlit==1.39.0
streamlit-autorefresh==1.0.1
psycopg2-binary==2.9.9
pandas==2.2.2
plotly==5.24.1
sqlalchemy==1.4.52
# No project-specific requirements yet.
# Common dependencies are installed from ../base/requirements.txt